@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<br />

<div class="text-center">
	<div id="overview-carousel" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active" data-interval="10000">
				<img class="d-block w-100" src="~/Assets/Highlights/JoshuaTree.jpg" alt="First slide">
				<div class="polaroid-box">
					<p class="slideshow-caption">Joshua  Tree National Park, February  2019</p>
				</div>

			</div>
			<div class="carousel-item" data-interval="10000">
				<img class="d-block w-100" src="~/Assets/Highlights/Chincoteague.jpg" alt="Second slide">
				<div class="polaroid-box">
					<p class="slideshow-caption">1st Landing St.Park - campground beach access, 2018</p>
				</div>
			</div>
			<div class="carousel-item" data-interval="10000">
				<img class="d-block w-100" src="~/Assets/Highlights/NewEngland.jpg" alt="Third slide">
				<div class="polaroid-box">
					<p class="slideshow-caption">Franconia Ridge, NH, 2021</p>
				</div>
			</div>
		</div>
	</div>


	<br />
	<br />
	<br />
	<br />
	<hr class="divider-solid"/>
	<br />
	<br />

	<p>These are the pictures and stories from our vacations over the past few years.</p>
	
	<br />
	<br />
	<hr class="divider-solid"/>
	<br />
	<br />
	<br />
	
	<table>
		@foreach (Models.Vacation vacation in Model.vacations)
		{
			<tr class="tr-button">
				<td style="width:20%;"><a asp-page="/Log" asp-route-title=@vacation.Page>@vacation.Year</a></td>
				<td style="width:35%;"><a asp-page="/Log" asp-route-title=@vacation.Page>@vacation.Month</a></td>
				<td style="width:45%;max-width: 45%;"><a asp-page="/Log" asp-route-title=@vacation.Page>@vacation.Title</a></td>
			</tr>
			<tr></tr>
		}
	</table>
	<br />
	<a asp-page="/CMS" asp-route-title="CMS">CMS</a>
</div>
